.home-container {
    width: 1320px;
    margin: 0 auto;
    background-color: green;
    min-height: 100vh;
    padding: 25px;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 100%;
}